*, html{
  margin: 0;
  padding: 0;
  font-family: Courier;
  text-decoration: none;
  scroll-behavior: smooth;
}
body{
  background-color: black;
  height: 1000px;
}

nav{
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px solid white;
}
.brand{
  display: flex;
  align-items: center;
  justify-content: center;
}
.brand img{
  width: 30px;
}
.brand span{
  padding-left: 5px;
  color: white;
  font-weight: 800;
  font-size: 30px;
  text-transform: uppercase;
}
.link{
  font-size: 15px;
}
.link a{
  padding: 3px;
  color: white;
  display: inline-block;
}
.link a:hover{
  border-bottom: 1px solid white;
  font-weight: bold;
  font-size: 20px;
  transition: all 0.5s;
}

.bar{
  padding: 5px;
}
.bar img{
  color: white;
  width: 25px;
}

.box{
  width: 100%;
  display: flex;
  align-items: center;
  overflow-x: auto;
  gap: 5px;
  padding-top: 60px;
}
.box img{
  width: 350px;
  display: flex;
  align-items: center;
  min-width: 350px;
  border: 2px solid black;
  border-radius: 10px;
}

.content{
  padding-top: 20px;
  align-items: center;
  width: 100%;
  height: 60vh;
  background-color: black;
  line-height: 25px;
  color: white;
  text-align: center;
}
.content span{
  text-align: center;
  line-height: 30px;
}
.content span h3{
  padding-top: 30px;
  padding-bottom: 30px;
}
.content a{
  font-weight: bold;
  background-color: white;
  color: black;
  padding: 8px;
  border-radius: 25px;
}

.menu{
  text-align: center;
  width: 100%;
  height: 100vh;
  line-height: 30px;
  background-color: white;
  padding-bottom: 30px;
}
.img-produk{
  width: 100%;
  display: flex;
  align-items: center;
  overflow-x: auto;
  gap: 20Px;
  padding-top: 60px;
}

.food{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.food img{
  display: flex;
  align-items: center;
  width: 200px;
  border-radius: 10px;
  min-width: 200px;
  transition: all 0.5s;
}
.food h1{
  text-align: center;
  font-size: 20px;
}

.food img:hover{
  width: 230px;
  height: auto;
}

.menu h1{
  padding-top: 30px;
  padding-bottom: 20px;
}
.menu span{
  padding: 10px;
  text-align: center;
}
.menu span a{
  font-weight: bold;
  background-color: black;
  color: white;
  padding: 8px;
  border-radius: 25px;
}
.menu span h3{
  padding-bottom: 10px;
}
.form{
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  background-color: black;
  line-height: 30px;
  color: rgb(255, 255, 255);
}
.contact{
  padding-top: 90px;
  display: flex;
  
  align-items: center;
  justify-content: center;
  background-color: rgba(54, 54, 54, 0.9);
  padding: 20px;
  border-radius: 10px;
}
.form span{
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 30px;
}
.form label{
  display: flex;
  align-items: center;
  justify-content: center;
}
.form input{
  padding: 5px;
  width: 245px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  border-radius: 10px;
}
.form textarea{
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  border-radius: 10px;
}

.btn{
  padding-top: 10px;
}
.btn button{
  padding: 5px;
  width: 80px;
  height: 30px;
  text-decoration: none;
  color: white;
  background-color: black;
  border: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
}
.form a:hover{
  background-color: #fff;
  border: 2px solid ;
  color: #000;
  transition: 0.5s;
}

.content span a:hover{
  background-color: black;
  border: 2px solid white;
  color: white;
  transition: 0.5s;
}
.menu span a:hover{
  background-color: white;
  border: 2px solid black;
  color: black;
  transition: 0.5s;
}

.info{
  width: 100px;
  height: 100px;
  position: absolute;
}

/*footer*/

.footer{
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: silver;
}
.info img{
  width: 100px;
}

    .wadah{
      position: fixed;
      
    }
    .popup{
      position: absolute;
      top: 70px;
      left: 990px;
      display: none;
      border-radius: 20px;
      text-align: center;
      width: 300px;
      height: 350px;
      background-color: rgba(1,1,1,.9);
      color: white;
      animation: animasi 1s;
    }
    .popup .close{
      font-size: 30px;
      color: white;
      position: absolute;
      right: 20px;
    }
    .popup span{
      line-height: 30px;
    }
    .popup h1{
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .popup h2{
      padding-top: 30px;
    }
    .media img{
      padding-top: 20px;
      width: 40px;
    }

#wadah:target .popup{
  display: block;
}


@keyframes animasi{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 50;
  }
  100%{
    opacity: 100;
  }
}

@media screen and (max-width :720px)  {

  *, html{
    margin: 0;
    padding: 0;
    font-family: Courier;
    text-decoration: none;
    scroll-behavior: smooth;
  }
  body{
    background-color: black;
  }

  nav{
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid white;
  }

  
  .brand img{
    padding-left: 10px;
    width: 20px;
  }
  .brand span{
    padding-left: 5px;
    color: white;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
  }

  .link{
    font-size: 10px;
  }
  .link a{
    padding: 3px;
    color: white;
    display: inline-block;
  }
  .link a:hover{
    border-bottom: 1px solid white;
    font-weight: bold;
    font-size: 15px;
    transition: all 0.5s;
  }

  .bar{
    padding: 5px;
  }
  .bar img{
    color: white;
    width: 20px;
  }

  .box{
    width: 100%;
 
  }
  .box img{
    width: 200px;
    min-width: 200px;
  }

  .content{
    padding-top: 20px;
    width: 100%;
    height: 100vh;
  }
  .content span{
    line-height: 20px;
  }
  .content h1{
    font-size: 30px;
  }
  .content span h3{
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .content a{
    font-weight: bold;
    background-color: white;
    color: black;
    padding: 8px;
    border-radius: 25px;
  }


  .menu{
    text-align: center;
    width: 100%;
    height: 100vh;
    line-height: 30px;
    background-color: white;
    padding-bottom: 30px;
  }
  .img-produk{
    width: 100%;
    display: flex;
    align-items: center;
    overflow-x: auto;
    gap: 20Px;
    padding-top: 60px;
  }
  
  .food{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .food img{
    width: 150px;
    min-width: 150px;
  }
  .food h1{
    font-size: 20px;
  }
  
  .food img:hover{
    width: 200px;
  }
  
  .menu span h1{
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 20px;
  }
  .menu span{
    padding: 10px;
    text-align: center;
  }
  .menu span h3{
    font-size: 20px;
  }

  .contact{
    display: flex;
    flex-direction: column;
  }
  
}
